body {
    background-color: rgb( 72, 231, 240 );
    display: flex;
    justify-content: center;
} 

.container {
    height: 505px;
    width: 420px;
    background-color:rgb(89, 90, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.display {
    height: 60px;
    width: 390px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(211, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
}

.buttonContainer {
    height: 400px;
    width: 390px;
    display: grid;
    justify-content: center;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.4%;
}

button {
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(156, 157, 161);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.btnEqual {
    background-color: rgb(159, 250, 110);
    width: 202%;
}

.btnEqual:hover {
    background-color: rgb(100, 223, 35);
}

.cancelBtn {
    background-color: rgb(235, 60, 60);
    color: white;
}

.cancelBtn:hover {
    background-color: rgb(221, 25, 25);
}

.operator {
    background-color: rgb(255, 225, 128);
}

.operator:hover {
    background-color: rgb(245, 202, 62);
}